<div>
    <div ng-hide="test.testBSAmericanApprox2002">Bjerksund-Stensland (2002) Tests Failed!</div>
    <div ng-show="test.testBSAmericanApprox2002">Bjerksund-Stensland (2002) Tests Succeeded!</div>
    <div ng-hide="test.testGBlackScholesImpVolBisection">Generalized Black Scholes Implied Volatility Tests Failed!</div>
    <div ng-show="test.testGBlackScholesImpVolBisection">Generalized Black Scholes Implied Volatility Tests Succeeded!</div>
    <div ng-hide="test.testGBlackScholesNGreeks">Generalized Black Scholes Greeks Tests Failed!</div>
    <div ng-show="test.testGBlackScholesNGreeks">Generalized Black Scholes Greeks Tests Succeeded!</div>
    <div ng-hide="test.testBSAmericanApprox2002ImpVolBisection">Bjerksund-Stensland (2002) Implied Volatility Tests Failed!</div>
    <div ng-show="test.testBSAmericanApprox2002ImpVolBisection">Bjerksund-Stensland (2002) Implied Volatility Tests Succeeded!</div>
    <div ng-hide="test.testBSAmericanApprox2002NGreeks">Bjerksund-Stensland (2002) Greeks Tests Failed!</div>
    <div ng-show="test.testBSAmericanApprox2002NGreeks">Bjerksund-Stensland (2002) Greeks Tests Succeeded!</div>
    <div ng-hide="test.yahoo.testDownloadStatus">Yahoo Download Tests Is Running...</div>
    <div ng-show="test.yahoo.testDownloadStatus">Yahoo Download Tests Succeeded!</div>
</div>